mark {
    background-color: yellow;
}

.images-title {
    font-weight: 500;
}

th, td, p {
    color: black;
    font-weight: 400;
}

a {
    font-weight: 500;
    color: dodgerblue;
}

.additional-hotels {
    padding-top: 20px;
}

.container {
    padding-top: 60px;
}

.cab-container {
    padding-top: 40px;
}

.cab-table {
    padding-top: 20px;
}

.mat-table {
    overflow-x: scroll;
}

.mat-column-distance {
    min-width: 100px;
}

.mat-column-contact {
    min-width: 150px;
    padding-left: 20px;
}

.mat-column-name {
    min-width: 200px;
}

.mat-column-display_link,
.mat-column-address {
    min-width: 225px;
}

.mat-header-row,
.mat-row {
    min-width: fit-content;
}

.mat-column-cab_service_name {
    min-width: 200px;
}

.mat-column-cab_service_contact {
    min-width: 300px;
}

