<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Hotels</mark></h3>
            <div id="hotels-and-cabs">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Hotel Name </th>
                        <td mat-cell *matCellDef="let hotel"> {{hotel.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>
                        <td mat-cell *matCellDef="let hotel"> {{hotel.address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef> Contact No. </th>
                        <td mat-cell *matCellDef="let hotel"> {{hotel.contact}} </td>
                    </ng-container>

                    <ng-container matColumnDef="display_link">
                        <th mat-header-cell *matHeaderCellDef> Website </th>
                        <td mat-cell *matCellDef="let hotel"> <a href="{{hotel.link}}"> {{hotel.display_link}} </a> </td>
                    </ng-container>

                    <ng-container matColumnDef="distance">
                        <th mat-header-cell *matHeaderCellDef> Distance from IIT Guwahati </th>
                        <td mat-cell *matCellDef="let hotel"> {{hotel.distance}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="additional-hotels">
                    <p>For more hotels, refer the below documents:</p>
                    <p><a href="assets/documents/hotels%20list.pdf"> Document 1 </a></p>
                    <p><a href="assets/documents/Acco_Guwahati.pdf"> Document 2 </a></p>
                </div>
                <h3 class="images-title"><mark>Cabs</mark></h3>
                <div class="cab-description">
                    <p><strong>Uber</strong> and <strong>Ola</strong> are readily available in Guwahati</p>
                    <p>Apart from them, you can contact the cab services listed below.</p>
                </div>
                <table mat-table [dataSource]="cabDataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="cab_service_name">
                        <th mat-header-cell *matHeaderCellDef> Cab Service Name </th>
                        <td mat-cell *matCellDef="let cab_service"> {{cab_service.cab_service_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cab_service_contact">
                        <th mat-header-cell *matHeaderCellDef> Contact No. </th>
                        <td mat-cell *matCellDef="let cab_service"> {{cab_service.cab_service_contact}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="cabDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: cabDisplayedColumns;"></tr>
                </table>
            </div>
        </div>

    </div>
</div>
