<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Hotels</mark></h3>
            <div id="hotels-and-cabs">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Hotel Name </mat-header-cell>
                        <mat-cell *matCellDef="let hotel"> {{hotel.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                        <mat-cell *matCellDef="let hotel"> {{hotel.address}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="contact">
                        <mat-header-cell *matHeaderCellDef> Contact No. </mat-header-cell>
                        <mat-cell *matCellDef="let hotel"> {{hotel.contact}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="display_link">
                        <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
                        <mat-cell *matCellDef="let hotel"> <a href="{{hotel.link}}" target="_blank"> {{hotel.display_link}} </a> </mat-cell>>
                    </ng-container>

                    <ng-container matColumnDef="distance">
                        <mat-header-cell *matHeaderCellDef> Distance from IIT Guwahati </mat-header-cell>
                        <mat-cell *matCellDef="let hotel"> {{hotel.distance}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div class="additional-hotels">
                    <p>For more hotels, refer the below documents:</p>
                    <p><a href="assets/documents/hotels%20list.pdf" target="_blank"> Document 1 </a></p>
                    <p><a href="assets/documents/Acco_Guwahati.pdf" target="_blank"> Document 2 </a></p>
                </div>
                <div class="cab-container">
                <h3 class="images-title"><mark>Cabs</mark></h3>
                <div class="cab-description">
                    <p><strong>Uber</strong> and <strong>Ola</strong> are readily available in Guwahati</p>
                    <p>Apart from them, you can contact the cab services listed below.</p>
                </div>
                    <div class="cab-table">
                <mat-table [dataSource]="cabDataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="cab_service_name">
                        <mat-header-cell *matHeaderCellDef> Cab Service Name </mat-header-cell>
                        <mat-cell *matCellDef="let cab_service"> {{cab_service.cab_service_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cab_service_contact">
                        <mat-header-cell *matHeaderCellDef> Contact No. </mat-header-cell>
                        <mat-cell *matCellDef="let cab_service"> {{cab_service.cab_service_contact}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="cabDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: cabDisplayedColumns;"></mat-row>
                </mat-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
