mark {
    background-color: yellow;
}

.images-title {
    font-weight: 500;
}

p, li {
    color: black;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: justify;
}

.container {
    padding-top: 60px;
}
