<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Facilities</mark></h3>
            <div id="facilities">
                <div class="ccd">
                    <p>
                        Centre for Career Development is well equipped with excellent infrastructure to support each and every stage of the placement processes in the campus. The pre-placement talks rooms, group discussion rooms are equipped with LCD projectors, PCs and audio-video facilities. Centre for Career Development, IIT Guwahati has sufficient number of interview rooms.
                    </p>
                    <div class="ccd-image">
                        <img src="assets/img/facilities/ccd.jpg">
                    </div>
                </div>
                <div class="guest-house">
                    <p>
                        IITG guesthouse has all modern facilities. All the rooms are air-conditioned and have Internet connectivity. We charge a nominal amount from guests on official visits. Both vegetarian and non-vegetarian dishes are available on order. Food bills are to be completely borne by the guests. Apart from many guesthouses, Guwahati city has a plenty of budget hotels including four-star hotels. Transport will be available from the hotels to the campus.
                    </p>
                    <div class="guest-house-image">
                        <img src="assets/img/facilities/Guesthouse.jpg">
                    </div>
                </div>
                <div class="auditorium">
                    <p>
                        The auditorium is a large space with a capacity of seating 1500 individuals. It has excellent audio and projector systems to host a variety of events and live performances giving an immersive experience.
                    </p>
                    <div class="auditorium-image">
                        <img src="assets/img/facilities/audi.jpg">
                    </div>
                </div>

                <div class="conference-hall">
                    <p>
                        IIT Guwahati has 4 conference halls, each having a capacity of seating 150 individuals. Conference halls are equipped with state of the art technology to host live webinars and interactive guest lectures.
                    </p>
                    <div class="conference-hall-image">
                        <img src="assets/img/facilities/conference_1.jpg">
                    </div>
                </div>

                <div class="computer-centre">
                    <p>
                        The Computer & Communication Centre, IIT Guwahati has a seating capacity of up to 200. It houses high-end computers capable of handling the latest software. These systems are regularly used to conduct on-campus recruitment tests.
                    </p>
                    <div class="computer-centre-image">
                        <img src="assets/img/facilities/comp_and_comm_centre.jpg">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
