<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Academics</mark></h3>
            <div id="academics">
                <p>The varied programmes that the institute offers are extremely flexible, offer students a huge number of avenues for learning through rigorous classroom training and by making them work on challenging projects that help them gain a better understanding of their disciplines and domains of study. Students are selected through hugely competitive entrance tests, and interviews too (for select programmes).</p>
                <div class="UG">
                <h4><mark>Undergraduate Programs</mark></h4>
                <h5>Bachelor of Technology (B.Tech)</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: JEE</li>
                    <li class="leaf">Duration: 4 Years</li>
                    <li class="leaf">Focus: Providing a basic yet strong foothold on in various aspects of engineering.</li>
                    <li class="leaf">Final Year Project (BTP): 1 Year</li>
                </ul>
                <h5>Bachelor of Design (B.Des)</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: UCEED</li>
                    <li class="leaf">Duration: 4 Years</li>
                    <li class="leaf">Focus: Giving students a keen understanding in several facets of design namely,Product Design, Visual Communication, Interaction Design and Animation.</li>
                    <li class="leaf">Final Year Project: 1 Year</li>
                </ul>
                <h5>Minor Degree</h5>
                <p class="text-justify">From 2010 onwards, the institute has started a provision for a Minor degree in addition to the Major in the B.Tech programme. This has allowed students to specialize in a field of their choosing different from their Major. The selection to the Minor programme has been made on the basis of academic merit and the selected students have to pursue a significant number of additional courses in the field they are pursuing a Minor in.This provision has led to classes of well rounded and skilled individuals well suited for professions requiring inter-disciplinary knowledge.</p>
                </div>
                <div class="PG">
                <h4><mark>Graduate Programs</mark></h4>
                <h5>Master of Technology (M.Tech)</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: GATE + Interview</li>
                    <li class="leaf">Duration: 2 Years</li>
                    <li class="leaf">Focus: Making students develop a comprehensive understanding of a particular field of study and tackle practical problems of design and development through course work and active research.</li>
                    <li class="leaf">Assistantship: Affiliated to course instructors or research projects.</li>
                    <li class="leaf">M.Tech Project: 1 Year</li>
                </ul>
                <h5>Master of Design (M.Des)</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: CEED + Interview</li>
                    <li class="leaf">Duration: 2 Years</li>
                    <li class="leaf">Focus: A deep understanding of industrial Design, Visual Communication and Interaction Design through a very diverse course structure and rigorous project work.</li>
                    <li class="leaf">Assistantship: Affiliated to course instructors or research projects.</li>
                    <li class="leaf">M.Des Project: 1 Year</li>
                </ul>
                <h5>Master of Science (M.Sc)</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: JAM</li>
                    <li class="leaf">Duration: 2 Years</li>
                    <li class="leaf">Focus: Developing a strong theoretical base and a good level of expertise in research supplemented by both course-wise and project.</li>
                    <li class="leaf">M.Sc Project: 1 Year</li>
                </ul>
                <h5>Master of Arts in Development Studies (MA)</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: Entrance Test</li>
                    <li class="leaf">Duration: 2 Years</li>
                    <li class="leaf">Focus: An understanding of various perspectives of development issues. Through guided research and a well-designed course-structure.</li>
                </ul>
                <h5>Master Of Science By Research Program (MS(R))</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: GATE + Interview</li>
                    <li class="leaf">Duration: 2 Years</li>
                    <li class="leaf">Focus: To build up the understanding on the energy sector and to develop R&D skills in the energy field to solve problems in the field of energy and its interlinked areas.</li>
                    <li class="leaf">MS(R) Project: 1+ Year</li>
                </ul>
                <h5>Doctoral Program (PhD)</h5>
                <ul class="menu">
                    <li class="first leaf">Admission through: Entrance Test + Interview</li>
                    <li class="leaf">Focus: Extensive training in research that is wholly relevant to the advances being made in science and technology. All PhD students are expected to publish results related to their thesis work in International Journals and Conferences.</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
