<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>FAQs</mark></h3>
            <div id="FAQs">
                <div class="ques">
                    <p>1. How well is Guwahati connected with the rest of the country?</p>
                </div>
                <div class="ans">
                    <p>Guwahati, which is the gateway for North East India, is well connected by air, rail and road with the rest of the country. There are direct air services from/to Mumbai, New Delhi and Kolkata with connectivity to all major cities in the country and direct train services from/to all the metropolises and other major cities.</p>
                </div>
                <div class="ques">
                    <p>2. How do we reach the institute?</p>
                </div>
                <div class="ans">
                    <p>The institute is a 45 minute drive from the airport and prepaid taxis can be availed of directly at the airport. Depending on the available transport resources the placement cell has at hand and provided the visiting company intimates the Centre for Career development about its schedule for arrival and stay on the campus, transport could be provided to the delegates from the company. The institute also has a bus service with buses plying from the institute to the city centre and back at regular intervals.</p>
                </div>
                <div class="ques">
                    <p>3. Where will we be accommodated?</p>
                </div>
                <div class="ans">
                    <p>Subject to availability of rooms in the institute guest house, accommodation could be arranged at a nominal rate for delegates from a company if they do intimate their requirements to us well in advance.</p>
                </div>
                <div class="ques">
                    <p>4. When does the placement session begin and for how long does it continue?</p>
                </div>
                <div class="ans">
                    <p>The Placement Session would begin in the 1st week of December 2018 and continue till May 2019. Companies are encouraged to visit the campus before the placement session begins to give Pre-Placement Talks to our students and introduce them to the job profiles and job culture of their company. This does have a direct bearing on the interest shown by students when the company visits the campus later for placements.</p>
                </div>
                <div class="ques">
                    <p>5. We are under the impression that we can recruit students only if their discipline is related our Industry. Is this so?</p>
                </div>
                <div class="ans">
                    <p>No, the institute imposes no restrictions in this regard. Companies can opt to recruit students from any department or discipline.</p>
                </div>
            </div>
        </div>

    </div>
</div>
