mark {
    background-color: yellow;
}

.images-title {
    font-weight: 500;
}

.ques p {
    font-weight: 700;
}

p {
    color: black;
    font-weight: 400;
}

.ans {
    padding-bottom: 10px;
}

.container {
    padding-top: 60px;
}
