<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <div id="graduating-students">
                <div class="UG">
                <h3 class="images-title"><mark>Undergraduate Programme</mark></h3>
                <div class="chart" style="display: block">
                    <canvas baseChart height="350px" width="300px"
                            [data]="demoDoughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            [plugins]="doughnutChartPlugins"
                            [options]="options"></canvas>
                </div>
                </div>
                <div class="PG">
                <h3 class="images-title"><mark>Graduate Programme</mark></h3>
                <div class="chart" style="display: block">
                    <canvas baseChart height="330px" width="300px"
                            [data]="PGdemoDoughnutChartData"
                            [labels]="PGdoughnutChartLabels"
                            [chartType]="PGdoughnutChartType"
                            [plugins]="PGdoughnutChartPlugins"
                            [options]="options"></canvas>
                </div>
                <div class="chart" style="display: block" class="second-chart">
                    <canvas baseChart height="225px" width="300px"
                            [data]="PGdemoDoughnutChartData2"
                            [labels]="PGdoughnutChartLabels2"
                            [chartType]="PGdoughnutChartType2"
                            [plugins]="PGdoughnutChartPlugins2"
                            [options]="options"></canvas>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>
