<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <div id="graduating-students">
                <h3 class="images-title"><mark>Undergraduate Programme</mark></h3>
                <div style="display: block">
                    <canvas baseChart
                            [data]="demoDoughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]='doughnutChartType'></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
