mark {
    background-color: yellow;
}

.images-title {
    font-weight: 500;
}

.container{
    padding-top: 60px;
}

p, h3, h4, li {
    color: black;
    font-weight: 400;
}

.vision {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.vision p{
    font-weight: 600;
}

.mission {
    padding-top: 20px;
}

.map {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.vision-mission-container {
    padding-top: 50px;
}

.map-container {
    padding-top: 40px;
}
