<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>About Us</mark></h3>
            <div id="about-iitg">
                <p>Indian Institute of Technology Guwahati, the sixth member of the IIT fraternity, was established in 1994. The academic programme of IIT Guwahati commenced in 1995. At present the Institute has eleven departments and five inter-disciplinary academic centres covering all the major engineering, science and humanities disciplines, offering BTech, BDes, MA, MDes, MTech, MSc and PhD programmes. Within a short period of time, IIT Guwahati has been able to build up world class infrastructure for carrying out advanced research and has been equipped with state-of-the-art scientific and engineering instruments.Indian Institute of Technology Guwahati's campus is on a sprawling 285 hectares plot of land on the north bank of the river Brahmaputra around 20 kms. from the heart of the city. With the majestic Brahmaputra on one side, and with hills and vast open spaces on others, the campus provides an ideal setting for learning.</p>
            </div>

            <div class="vision-mission-container">
            <h3 class="images-title"><mark>Vision and Mission</mark></h3>
            <div id="vision-mission">
                <p>The strategic commitment of IIT Guwahati provides the road map for the journey towards excellence. These strategies include the Vision, Mission, Goal and Values that would be instrumental in placing IIT Guwahati among the top academic institutions of the world. The strategies will create new opportunities for the faculty and the students for enhancement of knowledge, performing cutting edge research and development of professional skills. The ultimate aim is to provide the students with an educational training that emphasizes innovation, social awareness, professional ethics and nurture leadership skills. A resourceful environment to promote creativity and entrepreneurship amongst researchers is also being developed while maintaining sustainable goals and upholding the values of highest professional ethics and enrich the lives of humanity.</p>
                <h4>Vision Statement</h4>
                <div class="vision">
                    <p><i>"To be recognized globally for excellence in education, research and innovation, and nurture future leaders, to serve the society at large"</i></p>
                </div>
                <h4>Mission Statements</h4>
                <div class="mission">
                    <ol>
                        <li><p>Provide education, research and advancement of knowledge</p></li>
                        <li><p>Prepare the students for successful professional careers, leadership roles and be globally competent</p></li>
                        <li><p>Motivate graduates to play vital roles in achieving excellence in pursuit for developmental activities and serve the society</p></li>
                        <li><p>Meet the technological needs of the region and the country</p></li>
                        <li><p>Support innovation, entrepreneurship and be a catalyst of development inclusive of all stake holders</p></li>
                        <li><p>Making a difference in the lives of every person we interact with, to inspire and create ethical value based transformation</p></li>
                    </ol>
                </div>
            </div>
                <div class="map-container">
                <h3 class="images-title"><mark>Campus Map</mark></h3>
                <div class="map">
                    <img src="assets/img/iitg_map.png">
                </div>
                </div>
            </div>
        </div>

    </div>
</div>
