<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Placement Procedure</mark></h3>
            <div id="procedure">
                <p>1. CCD office sends invitation to the companies/organisations along with relevant information.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_1.png"></div>
                <p>2. Companies register and create account on the online placement portal: <a href="https://online.iitg.ac.in/tnp/" target="_blank">https://online.iitg.ac.in/tnp/</a></p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_2.jpg"></div>
                <p>3. A Company/organisation fills an online "Job Application Form" containing details of the job profile and the offer using their online account.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_3.png"></div>
                <p>4. If the company/organisation is interested in conducting a Pre-Placement Talk (PPT) they  can send a request along with  the preferred dates. PPTs are held after academic hours (i.e. after 5 PM).</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_4.png"></div>
                <p>5. The "Job Application Form" is made available to the eligible students, along with other information furnished by any company/organisation. Students apply online to company job online.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_5.png"></div>
                <p>6. The resumes of all interested students are made available to the organisation for downloading or viewing through their placement account. Organisations can shortlist students. The organisations are also requested to maintain a waitlist of students who can be interviewed in the event of non-availability of some of the shortlisted students.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_6.png"></div>
                <p>7. The recruitment session would begin on the 1st week of December 2017 and would continue till May 2018. CCD Office allots dates for recruitment procedure by considering factors like student preferences, job profile, etc.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_7.png"></div>
                <p>8. Organisations visit the campus on the allotted date(s) and conduct tests and/or interviews according to their selection procedure.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_8.png"></div>
                <p>9. The company/organisation has to furnish the final list of selected students soon after the completion of the selection procedure. As per the placement policies of the institute, as soon as a student is offered a job, he or she is not eligible to continue in the selection processes of other company/organisation or apply to other company/organization.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_9.png"></div>
                <p>10. CCD office also coordinates the signing of offer letters by students who have been selected to ensure that they reach the company/organisation as early as possible.</p>
                <div class="proced"><img src="assets/img/procedure/procedure-icons_10.png"></div>
            </div>
        </div>

    </div>
</div>
