<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Research and Development</mark></h3>
            <div id="research">
                <p style="text-align:justify;">
                    Research is an integral part of the activities of Indian Institute of Technology Guwahati. The Institute conducts researches within its academic programmes under all the departments and the academic centres. Its faculty members also conduct research projects sponsored by various government agencies and companies. The aims of theses sponsored researches are varied starting from the advancement of theoretical knowledge to development of new technology to solve practical problems.<br />
                    <br />
                    The sponsored researches conducted till now has covered areas such as theoretical and applied aspects of core science (physics, chemistry and mathematics), social sciences, information and communication technology, electronics, artificial intelligence, material science, nanotechnology, biotechnology, alternative energy, environment, water resources, structural and earthquake engineering, geotechnical engineering, chemical engineering, heat transfer, machine design, manufacturing, product design, etc.<br />
                    <br />
                    Sponsored research in the Institute has contributed in terms of development in knowledge and technology. It has also helped to bring the academia closer to the industry. In addition, it has added to the infrastructure of the Institute through acquisition of modern equipment for the research projects. The research projects have also acted as the training ground for the young post-graduates just out of the universities. The Research and Development Office is the wing of the Institute which facilitates, channelizes, records, and regulates as per the Institute rules all the sponsored research projects and consultancy works in the Institute. The Research and Development Section is administered by the Dean of Research & Development.
                </p>
                <h4>Student Projects</h4>
                <div class="content">
                    <p style="text-align:justify;">Students undertake various interdisciplinary-research and industrial projects under the guidance of the faculty solving real-time problems pertaining to research and the industry. Moreover, the B.Tech and M.Tech students have to complete a 'Thesis Project' in the final year of their Engineering course.</p>
                </div>
                <h4>Publications</h4>
                <div class="content">
                    <p style="text-align:justify;">Students actively collaborate with faculty in projects leading to publications in national and international conferences and peer reviewed journals. IIT Guwahati has produced 1131 conference papers and 1169 journal papers in the last two years alone.</p>
                </div>
                <h4>Industry Consultancies</h4>
                <div class="content">
                    <p style="text-align:justify;">Active involvement with the industry is a crucial part of applied research and IIT Guwahati is actively involved in many such projects for various Public and Private organisation, and Technancial institutions. More than 250 such consultancy based projects were undertaken in the last two years alone.</p>
                </div>
                <h4>Conferences</h4>
                <div class="content">
                    <p style="text-align:justify;">IIT Guwahati also hosts several national and international conferences and workshops. Students and faculty collaborate in organizing these events.</p>
                </div>
                <h4>Some facilities available in the institute are:</h4>
                <div class="content">
                    <ol>
                        <li>High Performance Computing Cluster</li>
                        <li>Field Emission Gun Transmission Electron Microscope</li>
                        <li>High End Optical Microscope</li>
                        <li>Oxidation Diffusion Furnace</li>
                        <li>Raman Spectroscopy</li>
                        <li>Material Printing System</li>
                        <li>DC Probe Station</li>
                        <li>Radio Frequency Impedance/Material Analyser</li>
                        <li>Surface Area and Pore Size Analyser and High Pressure Surface Analyser</li>
                        <li>High Precision Non-Contact Computerised Measurement of Surface Texture Apparatus</li>
                        <li>Servo-Pneumatic Universal Testing Machine</li>
                        <li>Optical Coherence Tomography (OCT) Machine</li>
                        <li>Multi-Channel Analysis of Surface Wave Apparatus (MASW)</li>
                        <li>Cyclic Triaxial Apparatus, etc.</li>
                    </ol>
                </div>
                <h4>Centres established at the IIT Guwahati</h4>
                <div class="content">
                    <ol>
                        <li>Centre for the Environment</li>
                        <li>Centre for Nanotechnology</li>
                        <li>Centre for Linguistic Science and Technology</li>
                        <li>Centre for Disaster Management and Research</li>
                        <li>Centre for Intelligent Cyber Physical Systems</li>
                        <li>Centre for Indian Knowledge Systems</li>
                    </ol>
                </div>
                <h4>Schools established at the IIT Guwahati</h4>
                <div class="content">
                    <ol>
                        <li>Mehta Family School of Data Science and Artificial Intelligence</li>
                        <li>School of Energy Science and Engineering</li>
                        <li>School of Agro and Rural Technology</li>
                    </ol>
                </div>
                <h4>Important Links</h4>
                <div class="content">
                    <ol>
                        <li><a href="https://iitg.ac.in/iitg_research_all" target="_blank"> Latest Research at IIT Guwahati </a></li>
                        <li><a href="https://iitg.ac.in/rnd/ongoingprojects.html" target="_blank"> Ongoing Projects in R&D Section </a></li>
                        <li><a href="https://www.iitg.ac.in/rnd/" target="_blank"> Research & Development Section website </a></li>
                        <li><a href="https://www.iitg.ac.in/necbh/" target="_blank"> North East Centre for Biological Sciences and Healthcare Engineering (NECBH) website </a></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>
