<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="preloader">
    </div>
    <div class="page-header section-dark">
        <div class="filter"></div>
    </div>
</div>
<div class="main">
    <div class="section">
        <div class="container">
            <h3 class="images-title"><mark>Student Activities</mark></h3>
            <div class="life-at-iitg">
            <p class="text-justify">The true motto of IIT Guwahati - achieving excellence through the amalgamation of the mind, heart and body is brilliantly exhibited through the myriad extracurricular, sports and leadership roles undertaken by the students, in addition to a strenuous academic schedule.<br>Students show intense time-management, intrapersonal, interpersonal as well as managerial and leadership skills as they take up versatile roles, such as managing the student body, organizing international festivals, competing fiercely in prestigious national and international competitions and taking up social initiatives.</p>

            <h4>Student Gymkhana Council</h4>
            <p>The Students' Gymkhana Council is the body that promotes the objectives of fostering extra-curricular and co-curricular activities, welfare of the students during their stay on the campus. Being in the Gymkhana council enhances a student's leadership and managerial skills.</p>

            <h4>Inter-Hostel Events</h4>
            <p style="text-align:justify">Fierce competition exists amongst the residents of the 10 hostels of IIT Guwahati, which is exhibited during the inter-hostel technical, sports and cultural festivals leading up to the overall championship. Students are thus provided with ample opportunities to nurture and develop their team-boding and interpersonal skills. Manthan (Cultural), Spardha (Sports) and Kriti (Technical) are the major inter-hostel events that take place during the year.</p>

            <h4>Sports and Inter IIT</h4>
            <p style="text-align:justify">The institute is well equipped with training infrastructure for major outdoor and indoor sports including Football, Hockey, Basketball, body-building, Cricket, Volleyball, Lawn Tennis, athletics, badminton, Squash, Swimming and many more. Students work rigorously all year-round for the Inter-IIT sports meet which is held in December every year. IITG students have exemplary records in these events and in several national level sports competitions. Such training and rigour helps students develop a mindset to persevere and to have a hunger to excel.</p>

            <h4>Clubs</h4>
            <p style="text-align:justify">Imperative to promoting co-curricular are the 30+ active clubs of IIT Guwahati provide stimulus and order for growth and experience in cultural, technical, sports and entrepreneurship. The sheer variety of clubs lead to a well rounded, versatile and passionate persona of an IITG student.</p>

            <h4>Student Organized Fests</h4>
            <p style="text-align:justify">Each year, the students organize three major international festivals in the field of culture, technology and entrepreneurship. The organizing teams of these festivals showcase immense planning, coordination, marketing, public relation skills. The entire festivals are run and managed by students and serve as great lessons in developing communication, crowd and risk management, and leadership skills.</p>

            <h4>Alcheringa - The Annual Cultural festival</h4>
            <p style="text-align:justify">Alcheringa has completed 19 successful editions and is the largest cultural festival of North-East India. It brings together an amalgamation of culture of the world and fuse provide a competitive platform for dramatics, dance, music and debate talents to flourish.</p>

            <h4>Techniche - The Annual Techno-Management festival</h4>
            <p style="text-align:justify">Techniche has completed 14 successful editions and has come up to be amongst the largest Techno-management Festival of the country. Techniche consists of modules such as robotics, Technical writing, Workshops to Industrial Conclave and Lecture Series, thus, bringing together best of both worlds in a stimulating environment for inspirational and competitive learning. <br>"IIT Guwahati raised my estimation of India's ability to take on the world"- Jonar Nader, Australia's higest paid Consultant and Management Guru. He was invited to give lecture in Techniche 2011.</p>

            <h4>Udgam - The Annual Entrepreneurship Summit</h4>
            <p style="text-align:justify">E-Cell organizes this summit annually, bringing together an experience of workshops, lectures and showcases of the most promising entrepreneurs and start-ups of India, thereby promoting a culture of innovation and problem solving.</p>
            </div>
        </div>
    </div>
</div>
