<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header section-dark" style="background: url('assets/img/iitg.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div id="title" class="title-brand">
                    <div class="ccd-logo">
                        <img src="assets/img/ccd.png" alt="">
                    </div>
                    <!--
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <!--<h6 class=" category-absolute ml-auto mr-auto">Created by
        &lt;!&ndash; <h6 class="category category-absolute">Designed and coded by &ndash;&gt;

            <a href="https://www.linkedin.com/in/zeus-iitg/" target="_blank">
                <img src="assets/img/logo.png" class="creative-tim-logo">
            </a>
        </h6>-->
    </div>


    <div class="main">
<!--      <app-basicelements></app-basicelements>-->
<!--      <app-navigation></app-navigation>-->
      <div class="section">
          <div class="container">
              <div class="first-row">
                  <div class="part-1">
                      <h3 class="images-title"><mark>About</mark></h3>
                      <p>Centre for Career Development (CCD) of the Institute centrally handles all aspects of campus placements for the graduating students of all Departments. CCD is well equipped with excellent infrastructure to support each and every stage of the placement processes. CCD staff members assist in arranging Pre-Placement Talks, Written Tests, Group Discussions, and Interviews etc. are made as per the requirements of the Organizations.</p>
                  </div>
                  <div class="part-2">
                      <h3 class="images-title"><mark>Announcement</mark></h3>
                      <p>The registration for Placement and Intern Recruitment season 2021-22 has been started. Companies can participate by registering on our portal using <a href="https://online.iitg.ac.in/tnp/company_signup.jsp" target="_blank">this link</a> and filling the job application form.</p>
                  </div>
              </div>
              <div class="row">
              <div class="col-md-6">
                  <mat-card class="quickLinks">
                      <mat-card-header>
                          <div mat-card-avatar class="quickLinks-header-image">
                              <i class="fa fa-link fa-2x" aria-hidden="true"></i>
                          </div>
                          <mat-card-title>Quick Links</mat-card-title>
                      </mat-card-header>
                      <mat-grid-list cols="2" rowHeight="280px">
                          <mat-grid-tile>
                              <figure class="internship">
                                  <a href="https://online.iitg.ac.in/tnp/" target="_blank">
                                      <img class="tile-image" src="assets/img/Icons/internship%20and%20placement%20portal.png"/>
                                      <figcaption class="caption"><h6>Internship and <br /> Placement portal</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>
                          <mat-grid-tile>
                              <figure class="brochure">
                                  <a href="assets/documents/IIT%20Guwahati%20Placement%20Brochure%202021-22.pdf" target="_blank">
                                      <img class="tile-image" src="assets/img/Icons/placement%20brochure.png" />
                                      <figcaption class="caption"><h6>Placement <br /> Brochure</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>
                          <mat-grid-tile>
                              <figure class="team">
                                  <a [routerLink]="['/coordinators']" >
                                      <img class="tile-image" src="assets/img/Icons/placement%20coordinators.png" />
                                      <figcaption class="caption"><h6>Placement <br /> Coordinators</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>
                          <mat-grid-tile>
                              <figure class="guidelines">
                                  <a href="assets/documents/AIPC%20Guidelines%20to%20Recruiters.pdf" target="_blank">
                                      <img class="tile-image" src="assets/img/Icons/aipc%20guidelines.png" />
                                      <figcaption class="caption"><h6>AIPC <br /> guidelines</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>
                      </mat-grid-list>
                  </mat-card>
              </div>
              <div class="col-md-6">
                  <mat-card class="quickLinks">
                      <mat-card-header>
                          <div mat-card-avatar class="quickLinks-header-image">
                              <i class="fa fa-download fa-2x" aria-hidden="true"></i>
                          </div>
                          <mat-card-title>Downloads</mat-card-title>
                      </mat-card-header>
                      <mat-grid-list cols="2" rowHeight="280px">
                          <mat-grid-tile>
                              <figure class="internship">
                                  <a href="assets/documents/Academic%20Brochure.pdf" target="_blank">
                                      <img class="tile-image" src="assets/img/Icons/academic%20placement%20brochure.png"/>
                                      <figcaption class="caption"><h6>Academic Placement <br /> Brochure</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>
                          <!--<mat-grid-tile>
                              <figure class="brochure">
                                  <a href="#">
                                      <img class="tile-image" src="assets/img/Icons/pg%20internship%20brochure.png" />
                                      <figcaption class="caption"><h6>PG Internship <br /> Brochure</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>-->
                          <mat-grid-tile>
                              <figure class="brochure">
                                  <a [routerLink]="" (click)="open()">
                                      <img class="tile-image" src="assets/img/Icons/placement%20reports.png" />
                                      <figcaption class="caption"><h6>Placement <br /> Reports</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>
                          <mat-grid-tile>
                              <figure class="guidelines">
                                  <a [routerLink]="" (click)="open2()">
                                      <img class="tile-image" src="assets/img/Icons/noc%20certificate.png" />
                                      <figcaption class="caption"><h6>Internship NOC <br /> Application form</h6></figcaption>
                                  </a>
                              </figure>
                          </mat-grid-tile>
                      </mat-grid-list>
                  </mat-card>
              </div>
            </div>
              <h3 class="images-title-2"><mark>Past Recruiters</mark></h3>
          <div class="past-recruiters-carousel">
              <owl-carousel-o [options]="customOptions">

                  <ng-container *ngFor="let slide of dynamicSlides">
                      <ng-template carouselSlide>
                          <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                      </ng-template>
                  </ng-container>

              </owl-carousel-o>
          </div>
          <!--<div class="row">
              <p>{{studentcount}}</p>

              <p>{{facultycount}}</p>

              <p>{{staffcount}}</p>
          </div>-->
              <div class="testimonials-row">
                  <div class="testimonials-carousel">
                      <owl-carousel-o [options]="testimonialsOptions">

                          <ng-container *ngFor="let slide of testimonialSlides">
                              <ng-template carouselSlide>
                                  <div class="testimonial2">
                                      <div class="container">
                                              <div class="item">
                                                  <div class="row position-relative">
                                                      <div class="col-lg-6 col-md-6 align-self-center">
                                                          <h5 class="mt-4"><mark>{{slide.heading}}</mark></h5><br>
                                                          <pre>{{slide.message}}</pre>
                                                          <h5 class="mt-4">{{slide.name}}</h5>
                                                          <h6 class="subtitle font-weight-normal">{{slide.position}}</h6>
                                                          <h6 class="subtitle font-weight-normal">Indian Institute of Technology</h6>
                                                          <h6 class="subtitle font-weight-normal">Guwahati</h6>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 image-thumb d-none d-md-block">
                                                          <img src="{{slide.image}}" alt="wrapkit" class="rounded-circle img-fluid" />
                                                      </div>
                                                  </div>
                                              </div>
                                      </div>
                                  </div>

                              </ng-template>
                          </ng-container>

                      </owl-carousel-o>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
