@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


.past-recruiters-carousel {
  padding-top: 100px;
}

.ngb-progressbar {
  margin-top: 5rem;
}

.quickLinks{
  margin-top: 60px;
  min-width: 400px;
  height: 580px;
}

.images-title {
  font-weight: 500;
}

mark {
  background-color: yellow;
}

.images-title-2 {
  font-weight: 500;
  margin-bottom: -50px;
  margin-top: 100px;
}

.ccd-logo {
  margin-top: -50px;
}

p {
  color: black;
  font-weight: 400;
}

.caption {
  text-align: center;
  padding-top: 20px;
  color: black;
}

.tile-image {
  height: 130px;
  width: 130px;
}

.team {
  padding-bottom: 80px;
}

.guidelines {
  padding-bottom: 80px;
}

.testimonials-row {
  height: fit-content;
  padding-bottom: 0;
  margin-top: -80px;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.testimonial2 {
  font-family: "Montserrat", sans-serif !important;
  color: black;
  font-weight: 300 !important;
}

.testimonial2 h1,
.testimonial2 h2,
.testimonial2 h3,
.testimonial2 h4,
.testimonial2 h5,
.testimonial2 h6 {
  color: #3e4555;
}

.testimonial2 h5 {
  line-height: 30px;
  font-size: 25.55px;
  font-weight: 400;
}

.testimonial2 .font-weight-medium {
  font-weight: 500;
}

.testimonial2 .bg-light {
  background-color: #f4f8fa !important;
}

.testimonial2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial2 .image-thumb {
  background: url("../../assets/img/img-bg.png") no-repeat top center;
  text-align: center;
  padding: 10% 0;
}

.testimonial2 .image-thumb img {
  width: 400px;
}

pre{
  white-space:pre-wrap;
  font-size: 15px;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.section {
  padding-bottom: 0;
}

.testimonials-carousel {
  padding-bottom: 0;
}

.part-1 {
  width: 60%;
}

.part-2 {
  width: 35%;
}

p {
  text-align: justify;
}

pre {
  text-align: justify;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.item {
  margin-left: -13px;
}

a {
  font-weight: 500;
  color: dodgerblue;
}
