@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


.past-recruiters-carousel {
  padding-top: 100px;
}

.ngb-progressbar {
  margin-top: 5rem;
}

.quickLinks{
  margin-top: 60px;
  height: 580px;
}

.images-title {
  font-weight: 500;
}

mark {
  background-color: yellow;
}

.images-title-2 {
  font-weight: 500;
  margin-bottom: -50px;
  margin-top: 100px;
}

.ccd-logo {
  margin-top: -50px;
}

p, pre {
  color: black;
  font-weight: 400;
}

.caption {
  text-align: center;
  padding-top: 20px;
  color: black;
}

.tile-image {
  height: 120px;
  width: 120px;
}

.team {
  padding-bottom: 80px;
}

.guidelines {
  padding-bottom: 80px;
}

.testimonials-row {
  height: fit-content;
  padding-bottom: 0;
  margin-top: -80px;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.testimonial2 {
  font-family: "Montserrat", sans-serif !important;
  color: black;
  font-weight: 300 !important;
}

.testimonial2 h1,
.testimonial2 h2,
.testimonial2 h3,
.testimonial2 h4,
.testimonial2 h5,
.testimonial2 h6 {
  color: #3e4555;
}

.testimonial2 h5 {
  line-height: 30px;
  font-size: 25.55px;
  font-weight: 500;
  padding-bottom: 15px;
}

.testimonial2 .font-weight-medium {
  font-weight: 500;
}

.testimonial2 .bg-light {
  background-color: #f4f8fa !important;
}

.testimonial2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial2 .image-thumb {
  background: url("../../assets/img/img-bg.png") no-repeat center;
  text-align: center;
  background-size: 100%;
}

//.testimonial2 .image-thumb img {
//  width: 400px;
//}

.testimonials-row .testimonials-carousel .container .item .row {
  display: flex;
  justify-content: space-between;
}

.testimonials-row .testimonials-carousel .container .item .row .message-from-desk {
  width: 55%;
}

.testimonials-row .testimonials-carousel .container .item .row .official-image {
  width: 45%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials-row .testimonials-carousel .container .item .row .official-image img {
  width: 75%;
}

pre{
  white-space:pre-wrap;
  font-size: 15px;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.section {
  padding-bottom: 0;
}

.testimonials-carousel {
  padding-bottom: 0;
}

.part-1 {
  width: 60%;
}

.part-2 {
  width: 35%;
}

p {
  text-align: justify;
}

pre {
  text-align: justify;
}

.first-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 800px) {
  .first-row {
    flex-direction: column;
  }
  .part-1, .part-2 {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
  .col-md-6 {
    max-width: 70% !important;
    align-self: center;
  }
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .col-md-6 {
    max-width: 100% !important;
    align-self: center;
  }
}

a {
  font-weight: 500;
  color: dodgerblue;
}

.modal-body {
  height: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.modal-body p {
  padding-bottom: 30px;
}

.modal-body .internship-noc {
  display: flex;
  justify-content: space-evenly;
}

.modal-body .policies,
.modal-body .policies .company-side .company-brochures {
  display: flex;
  justify-content: space-between;
}

.modal-body .internship-noc .format p,
.modal-body .policies .format p {
  padding-top: 15px;
}

.modal-body .internship-noc .format .modal-caption,
.modal-body .policies .company-side .format .modal-caption,
.modal-body .policies .student-side .format .modal-caption,
.modal-body .policies .company-side h6,
.modal-body .policies .student-side h6 {
  text-align: center;
}

.modal-body .policies .company-side h6,
.modal-body .policies .student-side h6 {
  margin-top: -10px;
  margin-bottom: -10px;
}

.modal-body .internship-noc .format img,
.modal-body .policies .company-side .format img,
.modal-body .policies .student-side .format img {
  display:block;
  margin:auto;
}

.modal-content .policies .company-side {
  padding-left: 10px;
  padding-right: 10px;
  width: 60%;
  border-style: solid;
  border-radius: 15px;
  border-color: #014c8c;
}

.modal-content .policies .student-side {
  padding-left: 10px;
  padding-right: 10px;
  width: 35%;
  border-style: solid;
  border-radius: 15px;
  border-color: #014c8c;
}

.modal-content .policies .company-side .format .modal-caption,
.modal-content .policies .student-side .format .modal-caption {
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .item .row {
    display: flex;
    flex-direction: column;
  }
  .item .row .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .rounded-image {
    width: 50%;
  }
}

@media (max-width: 1000px) and (min-width: 750px) {
  .testimonials-row .testimonials-carousel .container .item .row {
    flex-direction: column-reverse;
  }
  .testimonial2 .image-thumb {
    height: 500px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .message-from-desk {
    width: 100%;
    padding-top: 15px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .official-image {
    width: 70%;
    height: 400px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .official-image img {
    width: 350px;
  }
}

@media (max-width: 750px) and (min-width: 600px) {
  .testimonials-row .testimonials-carousel .container .item .row {
    flex-direction: column-reverse;
  }
  .testimonial2 .image-thumb {
    height: 500px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .message-from-desk {
    width: 100%;
    padding-top: 15px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .official-image {
    width: 90%;
    height: 400px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .official-image img {
    width: 350px;
  }
}

@media (max-width: 600px) {
  .testimonials-row .testimonials-carousel .container .item .row {
    flex-direction: column-reverse;
  }
  .testimonial2 .image-thumb {
    height: 500px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .message-from-desk {
    width: 100%;
    padding-top: 15px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .official-image {
    width: 100%;
    height: 400px;
  }
  .testimonials-row .testimonials-carousel .container .item .row .official-image img {
    width: 350px;
  }
}
