<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['home']">Home</a>
                <div ngbDropdown class="d-inline-block dropdown" #myDropRecruit="ngbDropdown" on-mouseover="$event.stopPropagation(); myDropRecruit.open();" on-mouseleave="$event.stopPropagation(); myDropRecruit.close();">
                    <a class="navbar-brand" [routerLink]="" id="recruitDropdown" ngbDropdownToggle>Why Recruit @IITG</a>
                    <div ngbDropdownMenu aria-labelledby="recruitDropdown" class="dropdown-primary">
                        <a class="dropdown-item" [routerLink]="['about']">About IITG</a>
                        <a class="dropdown-item" [routerLink]="['academics']">Academics</a>
                        <a class="dropdown-item" [routerLink]="['graduating_students']">Graduating Students</a>
                        <a class="dropdown-item" [routerLink]="['research']">Research</a>
                        <a class="dropdown-item" [routerLink]="['achievements']">Achievements</a>
                    </div>
                </div>
            <div ngbDropdown class="d-inline-block dropdown" #myDropCompany="ngbDropdown" on-mouseover="$event.stopPropagation(); myDropCompany.open();" on-mouseleave="$event.stopPropagation(); myDropCompany.close();">
                <a class="navbar-brand" [routerLink]="" id="companiesDropdown" ngbDropdownToggle>For Companies</a>
                <div ngbDropdownMenu aria-labelledby="companiesDropdown" class="dropdown-primary">
                    <a class="dropdown-item" href="https://online.iitg.ac.in/tnp/" target="_blank">Placement Portal</a>
                    <a class="dropdown-item" href="assets/documents/IIT%20Guwahati%20Placement%20Brochure%202021-22.pdf" target="_blank">Brochure</a>
                    <a class="dropdown-item" [routerLink]="['process']">Placement Procedure</a>
                    <a class="dropdown-item" href="assets/documents/Internship_Policies_2021_22.pdf" target="_blank">Internship Policies 2021-22</a>
                    <a class="dropdown-item" href="assets/documents/Placement_Policies_2021_22.pdf" target="_blank">Placement Policies 2021-22</a>
                    <a class="dropdown-item" [routerLink]="['reaching_iitg']">Reaching IITG</a>
                    <a class="dropdown-item" [routerLink]="['hotels_and_cabs']">Hotels and Cabs</a>
                    <a class="dropdown-item" [routerLink]="['facilities']">Facilities</a>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block dropdown" #myDropPolicy="ngbDropdown" on-mouseover="$event.stopPropagation(); myDropPolicy.open();" on-mouseleave="$event.stopPropagation(); myDropPolicy.close();">
                <a class="navbar-brand" [routerLink]="" id="policiesDropdown" ngbDropdownToggle>Policies</a>
                <div ngbDropdownMenu aria-labelledby="policiesDropdown" class="dropdown-primary">
                    <a class="dropdown-item" [routerLink]="['placement_policies']">Placement Policies</a>
                    <a class="dropdown-item" [routerLink]="['internship_policies']">Internship Policies</a>
                </div>
            </div>
            <a class="navbar-brand" [routerLink]="['life_at_iitg']">Life at IITG</a>
            <div ngbDropdown class="d-inline-block dropdown" #myDropUtil="ngbDropdown" on-mouseover="$event.stopPropagation(); myDropUtil.open();" on-mouseleave="$event.stopPropagation(); myDropUtil.close();">
                <a class="navbar-brand" [routerLink]="" id="utilitiesDropdown" ngbDropdownToggle>Student Utilities</a>
                <div ngbDropdownMenu aria-labelledby="utilitiesDropdown" class="dropdown-primary">
                    <a class="dropdown-item" href="assets/documents/Full_Time_Hiring_Policy_2021_22_(student_side).pdf" target="_blank">Placement Policies 2021-22</a>
                    <a class="dropdown-item" href="https://www.iitg.ac.in/ccd/pages/masterCV.html" target="_blank">Master CV</a>
                    <a class="dropdown-item" href="http://nitish.site/resume-generator/" target="_blank">Resume Generator</a>
                    <a class="dropdown-item" href="https://www.overleaf.com/latex/templates/iit-guwahati-resume/fvqtppmzhvxn?fbclid=IwAR3YOIkCowbs6yM56MQfaDDV2woMRk0anzixUDFdAYLZZxFQ_A2VlND6IDw" target="_blank">Latex CV template</a>
                </div>
            </div>
            <a class="navbar-brand" [routerLink]="['faqs']">FAQ</a>
            <div ngbDropdown class="d-inline-block dropdown" #myDropContact="ngbDropdown" on-mouseover="$event.stopPropagation(); myDropContact.open();" on-mouseleave="$event.stopPropagation(); myDropContact.close();">
                <a class="navbar-brand" [routerLink]="" id="contactDropdown" ngbDropdownToggle>Contact Us</a>
                <div ngbDropdownMenu aria-labelledby="contactDropdown" class="dropdown-primary">
                    <a class="dropdown-item" [routerLink]="['hocccd']">Head of the Centre</a>
                    <a class="dropdown-item" [routerLink]="['faculty']">Faculty Coordinators</a>
                    <a class="dropdown-item" [routerLink]="['office']">CCD Office</a>
                    <a class="dropdown-item" [routerLink]="['coordinators']">Student Coordinators</a>
                </div>
            </div>
            <a class="navbar-brand" rel="tooltip" title="Connect with us on Linkedin" data-placement="bottom" href="https://www.linkedin.com/in/ccdiitg/" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </div>
</nav>
<div class="topnav">
    <a [routerLink]="['home']" class="active">Home</a>
    <div class="navbar-menu" [style.display]="display" [style.background-color]="'white'">
        <a class="navbar-tabs" [routerLink]="" (click)="dropSubMenu('why_recruit')">Why Recruit @IITG</a>
        <div class="navbar-submenu" [style.display]="dropdown === 'why_recruit' ? 'block' : 'none'">
            <a class="navbar-submenu-tabs" [routerLink]="['about']" (click)="toggleNavbar()">About IITG</a>
            <a class="navbar-submenu-tabs" [routerLink]="['academics']" (click)="toggleNavbar()">Academics</a>
            <a class="navbar-submenu-tabs" [routerLink]="['graduating_students']" (click)="toggleNavbar()">Graduating Students</a>
            <a class="navbar-submenu-tabs" [routerLink]="['research']" (click)="toggleNavbar()">Research</a>
            <a class="navbar-submenu-tabs" [routerLink]="['achievements']" (click)="toggleNavbar()">Achievements</a>
        </div>

        <a class="navbar-tabs" [routerLink]="" (click)="dropSubMenu('for_companies')">For Companies</a>
        <div class="navbar-submenu" [style.display]="dropdown === 'for_companies' ? 'block' : 'none'">
            <a class="navbar-submenu-tabs" href="https://online.iitg.ac.in/tnp/" target="_blank" (click)="toggleNavbar()">Placement Portal</a>
            <a class="navbar-submenu-tabs" href="assets/documents/IIT%20Guwahati%20Placement%20Brochure%202021-22.pdf" target="_blank" (click)="toggleNavbar()">Brochure</a>
            <a class="navbar-submenu-tabs" [routerLink]="['process']" (click)="toggleNavbar()">Placement Procedure</a>
            <a class="navbar-submenu-tabs" href="assets/documents/Internship_Policies_2021_22.pdf" target="_blank" (click)="toggleNavbar()">Internship Policies 2021-22</a>
            <a class="navbar-submenu-tabs" href="assets/documents/Placement_Policies_2021_22.pdf" target="_blank" (click)="toggleNavbar()">Placement Policies 2021-22</a>
            <a class="navbar-submenu-tabs" [routerLink]="['reaching_iitg']" (click)="toggleNavbar()">Reaching IITG</a>
            <a class="navbar-submenu-tabs" [routerLink]="['hotels_and_cabs']" (click)="toggleNavbar()">Hotels and Cabs</a>
            <a class="navbar-submenu-tabs" [routerLink]="['facilities']" (click)="toggleNavbar()">Facilities</a>
        </div>

        <a class="navbar-tabs" [routerLink]="" (click)="dropSubMenu('policies')">Policies</a>
        <div class="navbar-submenu" [style.display]="dropdown === 'policies' ? 'block' : 'none'">
            <a class="navbar-submenu-tabs" [routerLink]="['placement_policies']" (click)="toggleNavbar()">Placement Policies</a>
            <a class="navbar-submenu-tabs" [routerLink]="['internship_policies']" (click)="toggleNavbar()">Internship Policies</a>
        </div>

        <a class="navbar-tabs" [routerLink]="['life_at_iitg']" (click)="toggleNavbar()">Life at IITG</a>

        <a class="navbar-tabs" [routerLink]="" (click)="dropSubMenu('student_utilities')">Student Utilities</a>
        <div class="navbar-submenu" [style.display]="dropdown === 'student_utilities' ? 'block' : 'none'">
            <a class="navbar-submenu-tabs" href="assets/documents/Full_Time_Hiring_Policy_2021_22_(student_side).pdf" target="_blank" (click)="toggleNavbar()">Placement Policies 2021-22</a>
            <a class="navbar-submenu-tabs" href="https://www.iitg.ac.in/ccd/pages/masterCV.html" target="_blank" (click)="toggleNavbar()">Master CV</a>
            <a class="navbar-submenu-tabs" href="http://nitish.site/resume-generator/" target="_blank" (click)="toggleNavbar()">Resume Generator</a>
            <a class="navbar-submenu-tabs" href="https://www.overleaf.com/latex/templates/iit-guwahati-resume/fvqtppmzhvxn?fbclid=IwAR3YOIkCowbs6yM56MQfaDDV2woMRk0anzixUDFdAYLZZxFQ_A2VlND6IDw" target="_blank" (click)="toggleNavbar()">Latex CV template</a>
        </div>

        <a class="navbar-tabs" [routerLink]="['faqs']" (click)="toggleNavbar()">FAQ</a>

        <a class="navbar-tabs" [routerLink]="" (click)="dropSubMenu('contact_us')">Contact Us</a>
        <div class="navbar-submenu" [style.display]="dropdown === 'contact_us' ? 'block' : 'none'">
            <a class="navbar-submenu-tabs" [routerLink]="['hocccd']" (click)="toggleNavbar()">Head of the Centre</a>
            <a class="navbar-submenu-tabs" [routerLink]="['faculty']" (click)="toggleNavbar()">Faculty Coordinators</a>
            <a class="navbar-submenu-tabs" [routerLink]="['office']" (click)="toggleNavbar()">CCD Office</a>
            <a class="navbar-submenu-tabs" [routerLink]="['coordinators']" (click)="toggleNavbar()">Student Coordinators</a>
        </div>
    </div>
    <a [routerLink]="" class="icon" (click)="toggleNavbar()">
        <i class="fa fa-bars"></i>
    </a>
</div>
