<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title">Faculty Coordinators</h3>
            <div class="hocccd-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="faculty-image">
                            <img src="assets/img/Abhishek_Kumar.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        </div>
                        <p class="title">Dr. Abhishek Kumar</p>
                        <p class="title">Head of the Centre</p>
                        <p class="subtitle">Associate Professor</p>
                        <p class="subtitle">Department of Civil Engineering</p>
                        <p class="mail-ids">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:hocccd@iitg.ac.in">hocccd@iitg.ac.in</a>,
                            <a href="mailto:abhiak@iitg.ac.in">abhiak@iitg.ac.in</a>
                        </p>
                        <p class="text-center-hocccd"><strong>Phone: +91-361-258-3329</strong></p>
                        <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/abhiak/">Homepage</a></p>
                </div>
            </div>
            <div class="faculty-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="faculty-image">
                        <img src="assets/img/faculty/Bithiah_Grace.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    </div>
                    <p class="title">Dr. Bithiah Grace</p>
                    <p class="title">Faculty Coordinator for Placement</p>
                    <p class="subtitle">Associate Professor</p>
                    <p class="subtitle">Department of Biosciences and Bioengineering</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:fc1ccd@iitg.ac.in">fc1ccd@iitg.ac.in</a>,
                        <a href="mailto:bithiahgj@iitg.ac.in">bithiahgj@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><strong>Phone: +91-361-258-2219</strong></p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/bithiahgj/">Homepage</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="faculty-image" *ngIf="!thug; else thug_life">
                            <img src="assets/img/faculty/Suresh_Sundaram.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        </div>
                    <ng-template #thug_life>
                        <div class="faculty-image">
                            <img src="assets/img/faculty/thug_life.PNG" class="img-thumbnail img-responsive" alt="Rounded Image">
                        </div>
                    </ng-template>
                    <p class="title">Dr. Suresh Sundaram</p>
                    <p class="title">Faculty Coordinator for Internship</p>
                    <p class="subtitle">Associate Professor</p>
                    <p class="subtitle">Department of Electronics and Electrical Engineering</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:fc2ccd@iitg.ac.in">fc2ccd@iitg.ac.in</a>,
                        <a href="mailto:sureshsundaram@iitg.ac.in">sureshsundaram@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><strong>Phone: +91-361-258-3458</strong></p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/eee/suresh.html">Homepage</a></p>
                </div>
            </div>
            <h3 class="images-title">Former Faculty Coordinators</h3>
            <div class="faculty-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <p class="title">Dr. Abhishek Kumar</p>
                    <p class="subtitle">Associate Professor</p>
                    <p class="subtitle">Dept of Civil Engineering</p>
                    <p class="subtitle">Faculty Coordinator for Placement</p>
                    <p class="subtitle">Sep 2019 - Sep 2020</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <p class="title">Dr. Nanda Kishore</p>
                    <p class="subtitle">Professor</p>
                    <p class="subtitle">Dept of Chemical Engineering</p>
                    <p class="subtitle">Faculty Coordinator for Internship</p>
                    <p class="subtitle">Sep 2019 - Sep 2020</p>
                </div>
            </div>
            <h3 class="images-title">Department Placement Representatives</h3>
            <div class="faculty-container-1">
                <div class="normal-size">
                    <h4 class="images-title">Biosciences & Bioengineering</h4>
                </div>
                <div class="double-size">
                    <h4 class="images-title">Chemical Engineering</h4>
                </div>
            </div>
            <div class="faculty-container">
                <div class="normal-size">
                    <p class="title">C. N. Gupta, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:cngupta@iitg.ac.in">cngupta@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/cngupta/">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Animes Kumar Golder, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:animes@iitg.ac.in">animes@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/chemeng/faculty_profile.php?name=ag">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Amit Kumar, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:amitkumar@iitg.ac.in">amitkumar@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/chemeng/faculty_profile.php?name=amk">Homepage</a></p>
                </div>
            </div>

            <div class="faculty-container-1">
                <div class="normal-size">
                    <h4 class="images-title">Chemistry</h4>
                </div>
                <div class="normal-size">
                    <h4 class="images-title">Civil Engineering</h4>
                </div>
                <div class="normal-size">
                    <h4 class="images-title">Computer Science & Engineering</h4>
                </div>
            </div>
            <div class="faculty-container">
                <div class="normal-size">
                    <p class="title">Pavan K. Kancharla, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:pavankancharla@iitg.ac.in">pavankancharla@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/chem/page_faculty_profile.php?name=ZjF1TmNtTklNUzI4UlkxdHZUTVF4QT09">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Bimlesh Kumar, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:bimk@iitg.ac.in">bimk@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/bimk/homepage/index.html">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Pinaki Mitra, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:pinaki@iitg.ac.in">pinaki@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/pinaki/">Homepage</a></p>
                </div>
            </div>


            <div class="faculty-container-1">
                <div class="normal-size">
                    <h4 class="images-title">Design</h4>
                </div>
                <div class="normal-size">
                    <h4 class="images-title">Electronics & Electrical Engg</h4>
                </div>
                <div class="normal-size">
                    <h4 class="images-title">Mathematics</h4>
                </div>
            </div>
            <div class="faculty-container">
                <div class="normal-size">
                    <p class="title">Abhishek Shrivastava, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:shri@iitg.ac.in">shri@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/shri/">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">R. D. Kulkarni, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:rishi.k@iitg.ac.in">rishi.k@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/rishi.k/">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Subhamay Saha, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:saha.subhamay@iitg.ac.in">saha.subhamay@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/maths/people/faclist.php?id=saha.subhamay">Homepage</a></p>
                </div>
            </div>


            <div class="faculty-container-1">
                <div class="double-size">
                    <h4 class="images-title">Humanities & Social Sciences</h4>
                </div>
                <div class="normal-size">
                    <h4 class="images-title">Mechanical Engineering</h4>
                </div>
            </div>
            <div class="faculty-container">
                <div class="normal-size">
                    <p class="title">Anamika Barua, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:abarua@iitg.ac.in">abarua@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/hss/faculty_page_profile.php?name=ZjFPdWNOY1F3TDFLaUNqSlJRblFiZz09">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Vasundhara Jairath, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:vasundharaj@iitg.ac.in">vasundharaj@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/hss/faculty_page_profile.php?name=eTBmcEhqZFg0VXdiZVQ4dVlxeGc5Zz09">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">D. N. Basu, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:dnbasu@iitg.ac.in">dnbasu@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/dnbasu/">Homepage</a></p>
                </div>
            </div>


            <div class="faculty-container-1">
                <div class="normal-size">
                    <h4 class="images-title">Physics</h4>
                </div>
                <div class="normal-size">
                    <h4 class="images-title">Centre for Nanotechnology</h4>
                </div>
                <div class="normal-size">
                    <h4 class="images-title">Centre for Rural Technology</h4>
                </div>
            </div>
            <div class="faculty-container">
                <div class="normal-size">
                    <p class="title">D. Pamu, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:pamu@iitg.ac.in">pamu@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/pamu/">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Akshai Kumar, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:akshaikumar@iitg.ac.in">akshaikumar@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/akshaikumar/Home.html">Homepage</a></p>
                </div>
                <div class="normal-size">
                    <p class="title">Siddhartha Singha, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:siddharthafp@iitg.ac.in">siddharthafp@iitg.ac.in</a>
                    </p>
                </div>
            </div>


            <div class="faculty-container-1">
                <div class="normal-size">
                    <h4 class="images-title">Centre for Energy</h4>
                </div>
            </div>
            <div class="faculty-container">
                <div class="normal-size">
                    <p class="title">Harsh Chaturvedi, PhD</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:harshc@iitg.ac.in">harshc@iitg.ac.in</a>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
