.hocccd-container {
    display: flex;
    justify-content: center;
}

.faculty-container {
    display: flex;
    justify-content: space-evenly;
}

.faculty-container-1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -30px;
}

.title {
    font-size: 20px;
    margin-top: -5px;
    font-weight: 500;
    margin-bottom: -5px;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-bottom: -2px;
}

.mail-ids {
    text-align: center;
}

a {
    font-weight: 500;
    color: dodgerblue;
}

.text-center-hocccd {
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}

.faculty-image {
    margin-left: 22px;
}

.normal-size {
    width: 33.33%;
    text-align: center;
}

.double-size {
    width: 66.66%;
    text-align: center;
}
