<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Faculty Coordinators</mark></h3>
            <div class="hocccd-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="faculty-image">
                            <img src="assets/img/Abhishek_Kumar.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        </div>
                        <p class="title">Dr. Abhishek Kumar</p>
                        <p class="title">Head of the Centre</p>
                        <p class="subtitle">Associate Professor</p>
                        <p class="subtitle">Department of Civil Engineering</p>
                        <p class="mail-ids">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:hocccd@iitg.ac.in" target="_blank">hocccd@iitg.ac.in</a>,
                            <a href="mailto:abhiak@iitg.ac.in" target="_blank">abhiak@iitg.ac.in</a>
                        </p>
                        <p class="text-center-hocccd">Phone: +91-361-258-3329</p>
                        <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/abhiak/" target="_blank">Homepage</a></p>
                </div>
            </div>
            <div class="faculty-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="faculty-image">
                        <img src="assets/img/faculty/Bithiah_Grace.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    </div>
                    <p class="title">Dr. Bithiah Grace</p>
                    <p class="title">Faculty Coordinator for Placement</p>
                    <p class="subtitle">Associate Professor</p>
                    <p class="subtitle">Department of Biosciences and Bioengineering</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:fc1ccd@iitg.ac.in" target="_blank">fc1ccd@iitg.ac.in</a>,
                        <a href="mailto:bithiahgj@iitg.ac.in" target="_blank">bithiahgj@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd">Phone: +91-361-258-2219</p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/bithiahgj/" target="_blank">Homepage</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="faculty-image">
                        <img src="assets/img/faculty/Suresh_Sundaram.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                    </div>
                    <p class="title">Dr. Suresh Sundaram</p>
                    <p class="title">Faculty Coordinator for Internship</p>
                    <p class="subtitle">Associate Professor</p>
                    <p class="subtitle">Department of Electronics and Electrical Engineering</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:fc2ccd@iitg.ac.in" target="_blank">fc2ccd@iitg.ac.in</a>,
                        <a href="mailto:sureshsundaram@iitg.ac.in" target="_blank">sureshsundaram@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd">Phone: +91-361-258-3458</p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/eee/suresh.html" target="_blank">Homepage</a></p>
                </div>
            </div>
            <div class="section-2">
            <h3 class="images-title"><mark>Former Faculty Coordinators</mark></h3>
            <div class="former-faculty-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <p class="title">Dr. Abhishek Kumar</p>
                    <p class="subtitle">Associate Professor</p>
                    <p class="subtitle">Dept of Civil Engineering</p>
                    <p class="subtitle">Faculty Coordinator for Placement</p>
                    <p class="subtitle">Sep 2019 - Sep 2020</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <p class="title">Dr. Nanda Kishore</p>
                    <p class="subtitle">Professor</p>
                    <p class="subtitle">Dept of Chemical Engineering</p>
                    <p class="subtitle">Faculty Coordinator for Internship</p>
                    <p class="subtitle">Sep 2019 - Sep 2020</p>
                </div>
            </div>
            </div>
            <div class="section-2">
            <h3 class="images-title"><mark>Department Faculty Representatives for Placements</mark></h3>
                <div class="faculty-flex-container">
                <mat-card class="quickLinks">
                    <mat-card-header>
                        <mat-card-title>Biosciences & Bioengineering</mat-card-title>
                    </mat-card-header>
                    <mat-grid-list cols="1" rowHeight="100px">
                        <mat-grid-tile>
                            <div class="normal-size">
                                <p class="title">C. N. Gupta, PhD</p>
                                <p class="mail-ids">
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:cngupta@iitg.ac.in" target="_blank">cngupta@iitg.ac.in</a>
                                </p>
                                <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/cngupta/" target="_blank">Homepage</a></p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>
                <mat-card class="quickLinks">
                    <mat-card-header>
                        <mat-card-title>Chemical Engineering</mat-card-title>
                    </mat-card-header>
                    <mat-grid-list cols="1" rowHeight="100px">
                        <mat-grid-tile>
                            <div class="normal-size">
                                <p class="title">Abhijit Kakati, PhD</p>
                                <p class="mail-ids">
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:abhijitkakati@iitg.ac.in" target="_blank">abhijitkakati@iitg.ac.in</a>
                                </p>
                                <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/chemeng/faculty_profile.php?name=akakati" target="_blank">Homepage</a></p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>
                <mat-card class="quickLinks">
                    <mat-card-header>
                        <mat-card-title>Chemistry</mat-card-title>
                    </mat-card-header>
                    <mat-grid-list cols="1" rowHeight="100px">
                        <mat-grid-tile>
                            <div class="normal-size">
                                <p class="title">Pavan K. Kancharla, PhD</p>
                                <p class="mail-ids">
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:pavankancharla@iitg.ac.in" target="_blank">pavankancharla@iitg.ac.in</a>
                                </p>
                                <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/chem/page_faculty_profile.php?name=ZjF1TmNtTklNUzI4UlkxdHZUTVF4QT09" target="_blank">Homepage</a></p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>
                </div>

                <div class="faculty-flex-container">
                    <mat-card class="quickLinks">
                        <mat-card-header>
                            <mat-card-title>Civil Engineering</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Bimlesh Kumar, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:bimk@iitg.ac.in" target="_blank">bimk@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/bimk/homepage/index.html" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="quickLinks-2">
                        <mat-card-header>
                            <mat-card-title>Computer Science & Engineering</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="2" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Pinaki Mitra, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:pinaki@iitg.ac.in" target="_blank">pinaki@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/pinaki/" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Benny George Kenkireth, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:ben@iitg.ac.in" target="_blank">ben@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/ben/" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </div>

                <div class="faculty-flex-container">
                    <mat-card class="quickLinks">
                        <mat-card-header>
                            <mat-card-title>Design</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Abhishek Shrivastava, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:shri@iitg.ac.in" target="_blank">shri@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/shri/" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="quickLinks">
                        <mat-card-header>
                            <mat-card-title>Electronics & Electrical Engg</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">R. D. Kulkarni, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:rishi.k@iitg.ac.in" target="_blank">rishi.k@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/rishi.k/" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="quickLinks">
                        <mat-card-header>
                            <mat-card-title>Mathematics</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Subhamay Saha, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:saha.subhamay@iitg.ac.in" target="_blank">saha.subhamay@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/maths/people/faclist.php?id=saha.subhamay" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </div>

                <div class="faculty-flex-container">
                    <mat-card class="quickLinks">
                        <mat-card-header>
                            <mat-card-title>Humanities & Social Sciences</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Vipul Dutta, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:vipul.dutta@iitg.ac.in" target="_blank">vipul.dutta@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/hss/faculty_page_profile.php?name=RWRObkhUNVJURk9rVEt0dWpvbEhTUT09" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="quickLinks">
                        <mat-card-header>
                            <mat-card-title>Mechanical Engineering</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">D. N. Basu, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:dnbasu@iitg.ac.in" target="_blank">dnbasu@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/dnbasu/" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="quickLinks">
                        <mat-card-header>
                            <mat-card-title>Physics</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Debaprasad Maity, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:debu@iitg.ac.in" target="_blank">debu@iitg.ac.in</a>
                                    </p>
                                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/phy/fac_hompage.php?email=debu@iitg.ac.in" target="_blank">Homepage</a></p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </div>

                <div class="faculty-flex-container-2">
                    <mat-card class="quickLinks-3">
                        <mat-card-header>
                            <mat-card-title>School of Agro and Rural Technology</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Siddhartha Singha, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:siddharthafp@iitg.ac.in" target="_blank">siddharthafp@iitg.ac.in</a>
                                    </p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                    <mat-card class="quickLinks-3">
                        <mat-card-header>
                            <mat-card-title>School of Energy Science and Engineering</mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <div class="normal-size">
                                    <p class="title">Harsh Chaturvedi, PhD</p>
                                    <p class="mail-ids">
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:harshc@iitg.ac.in" target="_blank">harshc@iitg.ac.in</a>
                                    </p>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </div>


            </div>
        </div>
    </div>
</div>
