<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Placement Policies</mark></h3>
            <div id="placement-policies">
                <h4>Eligibility</h4>
                <div>
                    <ol>
                        <li>Final year students of bachelors, masters and those completing their PhD are eligible.</li>
                        <li>Students having CPI 5 and above are allowed to take part in placement procedure.</li>
                        <li>A student can avail on-campus placement only once.</li>
                        <li>Those who have procured & accepted PPO through CCD are deemed to be placed and thus, cannot sit for final placements. Also, if the acceptance/rejection of PPO is not intimated to CCD within stipulated time, it will be considered as ACCEPTED by default.</li>
                        <li>Students who are a part of IIT Guwahati through special programmes like 'sponsored', 'project staff', 'Part-time' are not allowed.</li>
                        <li>A regular student of IIT Guwahati having foreign nationality, who wishes to sit for campus placements, must inform the company about his/her nationality. His application is subject to acceptance by the company /organization. Moreover the process of getting a work-permit and other formalities will be done by the student and the company itself.</li>
                    </ol>
                </div>
                <h4>Placement process</h4>
                <div>
                    <ol>
                        <li>A student who has applied for a company is required to attend all events/stages of the company's process. Failure to do so may result in disciplinary action against the student.</li>
                        <li>Students are free to attend multiple processes as per their will and convenience during a particular slot if he/she have not yet been given an offer by a company.</li>
                        <li>During a placement slot having slot offer system, students may attend interviews of all companies he/she is shortlisted for and the offers are given by companies at the end of the slot. The preference order declaration submitted by students before the beginning of slot is considered to decide the final offer.</li>
                        <li>For slots with spot-on offer system, company can give offer to the student at any point during the allocated interview slot. In case a student gets selected in some company/organization, then he/she will be excluded from the procedure of any other company whose process is running in parallel with immediate effect.</li>
                        <li>In cases where the student wishes to reject an on-campus placement offer, he/she has to inform CCD by 15th April with relevant documents</li>
                    </ol>
                </div>

                <h4>Guidelines for students</h4>
                <div>
                    <ol>
                        <li>Students appearing for any Tests, GD, PPT should be present at least 10 minutes prior to the start of the process. Any entry to 5 minutes post the scheduled time would not be allowed. Candidate thus would be considered absent for that particular process. In cases where the student is able to provide a valid reason and proof, at least an hour before the procedure, will be exempted.</li>
                        <li>No Mobile phones will be allowed to be brought inside during an Interview, Test and GD.</li>
                        <li>Students have to bring the same resume which they had provided while applying to that particular company. Any foul play will lead to strict penalties.</li>
                        <li>Any unfair means during any point in the process will lead to immediate disqualification from the current placement season.</li>
                        <li>All students must inform CCD before approaching any company off campus for jobs.</li>
                        <li>Students must be formally dressed whenever they participate in any interaction with a company i.e. during a PPT, GD or Interview.</li>
                        <li>What NOT to wear for tests
                            <div class="inner-list">
                            <ul type="disc">
                                <li>Slogan T-shirts</li>
                                <li>Flip flops</li>
                                <li>Shorts</li>
                            </ul>
                            </div>
                        </li>
                        <li>By registering for the placement season you are bound to follow the NO INFORMATION LEAKAGE policy which states that you are not allowed to share any information regarding CCD's processes to outsiders. You are only allowed to contact any company personnel through CCD. Any attempt to contact the company officials personally will lead to severe penalties.</li>
                        <li>Strict action will be taken against the students if fraudulent data is found in their Curriculum Vitae (CV).</li>
                        <li>The PPO holders are not allowed to communicate directly with the company personnel who visit campus for recruitment until the complete process of the company is over. However, if the company wishes to interact with the PPO holders, it must be done with the approval of the Placement Team. Any unapproved interaction with the company personnel in campus will lead to strict action against the concerned student(s).</li>
                        <li>CV Verification Process
                            <div class="inner-list">
                            <ul type="disc">
                                <li>Master CV will be used to verify IITG Positions of Responsibility (PORs).</li>
                                <li>Students are not allowed to make any changes in their CV during the process.</li>
                                <li>Students are allowed to upload at most 3 CVs to the portal. All the POR related information present in any of the 3 CVs should be a subset of the information in the master CV</li>
                                <li>All the PORs mentioned in the Master CV will be according to the CCD POR list, which is set in place after contacting the heads of all student/administrative bodies in IITG</li>
                                <li>The Master CV generator can be found <a href="https://www.iitg.ac.in/ccd/pages/masterCV.html">here</a></li>
                            </ul>
                            </div>
                        </li>
                    </ol>
                </div>
                <h4>Other points</h4>
                <div>
                    <ol>
                        <li>You must maintain a cordial relationship with the recruiters. Any inappropriate behaviour or action done by student is intolerable and will result in disciplinary action by the institute.</li>
                        <li>Do not contact the HR people of the companies personally. If you need any communication with any particular person or company, contact the student placement representative or the CCD office. A strict action would be taken against any student found contacting the HR without the knowledge of CCD team.</li>
                        <li>Every student registered under CCD and/or got a PPO through CCD will pay a one-time Career Development Fee of Rs. 1000.00 only using IITG on-line fee payment system.</li>
                        <li>Centre for Career Development has the authority to take appropriate actions against any student found violating any policy.</li>
                    </ol>
                </div>
                <h4>Important instructions</h4>
                <div>
                    <ol>
                        <li>Keep checking portal, webmail, facebook group(s) for event schedule and other placement-related updates.</li>
                        <li>There may be PPTs/tests/events on very short notices due to unavoidable circumstances. Students are asked to be prepared for such situations and keep checking for updates frequently.</li>
                        <li>Always keep CV & documents handy as soft-copy online for any placement activity along with hard copies. Do not forget to bring institute I-card at the time of written tests and interviews.</li>
                        <li>Be ready with all certificates (in original & duplicates) for the curricular and extra-curricular activities as mentioned in the CV.</li>
                        <li>Requests for providing printouts & photocopies from CCD office will not be entertained as they cause disruption to regular activities.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
