.flex-container{
    display: flex;
    justify-content: space-between;
}

img {
    height: 260px;
    width: 260px;
}

.text-center {
    font-size: 18px;
    color: black;
    width: 260px;
    font-weight: 700;
}

.text-center2 {
    text-align: center;
    font-size: 15px;
    color: black;
    width: 260px;
}
