<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <div class="placement">
            <h3 class="images-title"><mark>Overall Placement Coordinators 2021 - 22</mark></h3>
            <div class="flex-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/maneshwars/">
                        <img src="assets/img/coordinators/maneshwar.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Maneshwar Singh</p>
                    </a>
                    <p class="text-center">Mobile: +91 62832 08958</p>
                    <p class="text-center2">Data Science, Analyst/Finance/Quant, Consulting, Mechanical Core</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/pratyushmuduli/">
                        <img src="assets/img/coordinators/Pratyush.jpeg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Pratyush Muduli</p>
                    </a>
                    <p class="text-center">Mobile: +91 81149 70969</p>
                    <p class="text-center2">Data Science, Product, Chemical Core, Education, Business Development</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/Rk-Yaduvanshi/">
                        <img src="assets/img/coordinators/Ramakant.jpeg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Ramakant</p>
                    </a>
                    <p class="text-center">Mobile: +91 90666 59822</p>
                    <p class="text-center2">Consulting, FMCG, R&D, Chemical Core, Marketing</p>
                </div>
            </div>
            <div class="flex-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/sachit19/">
                        <img src="assets/img/coordinators/sachidanand.jpeg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Sachidanand Prajapati</p>
                    </a>
                    <p class="text-center">Mobile: +91 94540 51093</p>
                    <p class="text-center2">Data Science, Electrical Core, R&D, Education</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/sanskar7447/">
                        <img src="assets/img/coordinators/sanskar.jpeg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Sanskar Kumar</p>
                    </a>
                    <p class="text-center">Mobile: +91 63774 65796</p>
                    <p class="text-center2">Data Science, BT Core, Analyst/Finance/Quant, Product, Business Development, Marketing</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/smita-saxena11/">
                        <img src="assets/img/coordinators/smita.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Smita Saxena</p>
                    </a>
                    <p class="text-center">Mobile: +91 91317 64450</p>
                    <p class="text-center2">Analyst/Finance/Quant, Consulting, Electrical Core, Product, FMCG</p>
                </div>
            </div>
            <div class="flex-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/zeus-iitg/">
                        <img src="assets/img/coordinators/zeus.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Vaibhav Kumar Singh</p>
                    </a>
                    <p class="text-center">Mobile: +91 63882 42695</p>
                    <p class="text-center2">IT/SDE, Data Science, Analyst/Finance/Quant, Business Development</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/sairamvarma/">
                        <img src="assets/img/coordinators/Sai_ram_picture.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Vineeth Sai Ram Varma</p>
                    </a>
                    <p class="text-center">Mobile: +91 76809 17389</p>
                    <p class="text-center2">Operations, R&D, Mechanical Core, Education, Civil Core</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/vishwaprasanna/">
                        <img src="assets/img/coordinators/Vishwa.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Vishwaprasanna Hariharan</p>
                    </a>
                    <p class="text-center">Mobile: +91 77383 94902</p>
                    <p class="text-center2">UI/UX, Industrial Design, Graphic Design</p>
                </div>
            </div>
            </div>

            <div class="internship">
            <h3 class="images-title"><mark>Internship Coordinators 2021 - 22</mark></h3>
            <div class="flex-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/bhuvan1/">
                        <p class="text-center">Bhuvan Aggarwal</p>
                    </a>
                    <p class="text-center2">B.Tech Computer Science and Engineering</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/aryanv01/">
                        <p class="text-center">Aryan Verma</p>
                    </a>
                    <p class="text-center2">B.Tech Electrical and Electronics Engineering</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/ayadav08">
                        <p class="text-center">Ashwani Yadav</p>
                    </a>
                    <p class="text-center2">B.Tech Electronics and Communication Engineering</p>
                </div>
            </div>
            <div class="flex-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/akshat993">
                        <p class="text-center">Akshat Sinha</p>
                    </a>
                    <p class="text-center2">B.Tech Computer Science and Engineering</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/anushkasrivastava01">
                        <p class="text-center">Anushka Srivastava</p>
                    </a>
                    <p class="text-center2">B.Tech Biosciences and Bioengineering</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/shatakshi-kaushal/">
                        <p class="text-center">Shatakshi Kaushal</p>
                    </a>
                    <p class="text-center2">B.Tech Biosciences and Bioengineering</p>
                </div>
            </div>
            <div class="flex-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/priya13chaturvedi/">
                        <p class="text-center">Priya Chaturvedi</p>
                    </a>
                    <p class="text-center2">B.Tech Chemical Science and Technology</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/atharva7/">
                        <p class="text-center">Atharva Shrawge</p>
                    </a>
                    <p class="text-center2">B.Tech Mechanical <br /> Engineering</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.linkedin.com/in/nkauser24/">
                        <p class="text-center">Narmin Kauser</p>
                    </a>
                    <p class="text-center2">B.Tech Mathematics and Computing</p>
                </div>
            </div>
            </div>

            <div class="previous-team">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Overall Placement Coordinators 2020 - 21
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/Abhinav.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Abhinav Singh</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/Jayant.jpeg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Jayant Bhaskar</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/Krishna.jpeg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Krishnakant Singh</p>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/Kushal.jpeg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Kushal Paudel</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/Milan.jpeg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Milan Rayat</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/omang_img.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Omang Saxena</p>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/Sanchit.jpeg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Sanchit Khess</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/shubham_img.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Shubham Rohilla</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                    <img src="assets/img/team21/Unmesh.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                    <p class="text-center">Unmesh Desale</p>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Overall Placement Coordinators 2019 - 20
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/ishan.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Ishan Azad</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/math.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Abhishek Mathur</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/aakash.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Akash Ranjan</p>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/arul.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Arulmurugan M</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/bhim.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Bhim Chaurasia</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/mynk.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Mayank Kumar</p>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/prabh.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Prabhjot Singh</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/samar.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Samar Gupta</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team20/urva.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Urvashi Singh</p>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Overall Placement Coordinators 2018 - 19
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team19/akash.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Akash Singh</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team19/ashish.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Ashish Agrawal</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team19/khum.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Rishikesh Khumkar</p>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team19/sanjeet.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Sanjeet Salunke</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team19/saurabh.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Saurabh Sharma</p>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team19/suhas.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Suhas Masana</p>
                            </div>
                        </div>
                        <div class="flex-container-2">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <img src="assets/img/team19/turkh.png" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                                <p class="text-center">Hrushikesh Turkhade</p>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

    </div>
</div>

    <!--<div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Jane Faker<br /></h4>
                    <h6 class="description">Music Producer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>-->
