<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <div class="address">
            <h3 class="images-title"><mark>Address for correspondence</mark></h3>
            <p>Office of the Centre for Career Development,<br/>
                Indian Institute of Technology Guwahati,<br/>
                Assam, India - 781039</p>
            <div class="phone_numbers">
                <div class="phone_header">
                    <p>Phone: </p>
                </div>
                <div class="numbers">
                    <p>+91-361-258-2175 (Office staff),<br/>
                        +91-361-258-3078 (Faculty coordinator),<br/>
                        +91-361-258-2171 (Head)</p>
                </div>
            </div>
            <div class="email_ids">
                <div class="email_header">
                    <p>Email: </p>
                </div>
                <div class="emails">
                    <p> <a href="mailto:ccd@iitg.ac.in">ccd@iitg.ac.in</a> (CCD office),<br/>
                        <a href="mailto:placement@iitg.ac.in">placement@iitg.ac.in</a> (Placement coordinator),<br/>
                        <a href="mailto:internship@iitg.ac.in">internship@iitg.ac.in</a> (Internship coordinator)</p>
                </div>
            </div>
            </div>
            <div class="staff">
            <h3 class="images-title"><mark>Administrative Staff</mark></h3>
            <div class="flex-container">
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <img src="assets/img/office/alok.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Alok Mazumder</p>
                        <p class="text-center2">Superintendent</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:ccd@iitg.ac.in">ccd@iitg.ac.in</a>,
                        <a href="mailto:alok@iitg.ac.in">alok@iitg.ac.in</a>
                    </p>
                    <p class="text-center2">Phone: +91-361-258-2175</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <img src="assets/img/office/manash.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Manash Protim Dutta</p>
                        <p class="text-center2">Junior Assistant</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:ccd@iitg.ac.in">ccd@iitg.ac.in</a>,
                        <a href="mailto:manashprotim@iitg.ac.in">manashprotim@iitg.ac.in</a>
                    </p>
                    <p class="text-center2">Phone: +91-361-258-2175</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <img src="assets/img/office/gobinda.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Gobinda Medhi</p>
                        <p class="text-center2">Junior Attendant</p>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:g.medhi@iitg.ac.in">g.medhi@iitg.ac.in</a>
                    </p>
                    <p class="text-center2">Phone: +91-361-258-2175</p>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!--<div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Jane Faker<br /></h4>
                    <h6 class="description">Music Producer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>-->
</div>
