mark {
    background-color: yellow;
}

.images-title {
    font-weight: 500;
}

.container {
    padding-top: 60px;
}

.mat-cell {
    padding-right: 20px;
}

th, td {
    color: black;
    font-weight: 400;
}

.mat-table {
    overflow-x: scroll;
}

.mat-column-club_name {
    min-width: 150px;
}

.mat-column-competition {
    min-width: 150px;
}

.mat-column-event {
    min-width: 150px;
}

.mat-column-position {
    min-width: 150px;
}

.mat-header-row,
.mat-row {
    min-width: fit-content;
}
