<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Club Achievements</mark></h3>
            <div id="achievements">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="club_name">
                        <mat-header-cell *matHeaderCellDef> Club Name </mat-header-cell>
                        <mat-cell *matCellDef="let entry" [style.border-bottom-style]="entry.border === 'false'? 'none' : ''"> {{entry.club_name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="competition">
                        <mat-header-cell *matHeaderCellDef> Competition </mat-header-cell>
                        <mat-cell *matCellDef="let entry"> {{entry.competition}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="event">
                        <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
                        <mat-cell *matCellDef="let entry"> {{entry.event}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
                        <mat-cell *matCellDef="let entry"> {{entry.position}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>

    </div>
</div>
