<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Club Achievements</mark></h3>
            <div id="achievements">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="club_name">
                        <th mat-header-cell *matHeaderCellDef> Club Name </th>
                        <td mat-cell *matCellDef="let entry" [style.border-bottom-style]="entry.border === 'false'? 'none' : ''"> {{entry.club_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="competition">
                        <th mat-header-cell *matHeaderCellDef> Competition </th>
                        <td mat-cell *matCellDef="let entry"> {{entry.competition}} </td>
                    </ng-container>

                    <ng-container matColumnDef="event">
                        <th mat-header-cell *matHeaderCellDef> Event </th>
                        <td mat-cell *matCellDef="let entry"> {{entry.event}} </td>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Position </th>
                        <td mat-cell *matCellDef="let entry"> {{entry.position}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

    </div>
</div>
