.title {
    margin-bottom: 0;
}

a {
    font-weight: 500;
    color: dodgerblue;
}

.flex-container-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: -35px;
    margin-right: -20px;
}

.img-circle {
    max-width: 300px;
    aspect-ratio: 1/1;
    margin-left: -50px;
    margin-top: -50px;
}

mark {
    background-color: yellow;
}

.img-thumbnail {
    height: 225px;
    width: 225px;
    margin-left: 20px;
}

.text-center {
    text-align: center;
    width: 250px;
    font-weight: 600;
}

.text-center-hocccd {
    text-align: center;
}

.title {
    font-weight: bold;
    color: #585858;
}

.text-center2 {
    text-align: center;
    font-size: 15px;
    width: 250px;
}

p {
    padding-left: 11px;
}

.mail-ids {
    text-align: center;
}

.images-title {
    font-weight: 500;
}

h4, h5, p {
    color: black;
    font-weight: 400;
}

.prev-head-img {
    max-width: 260px;
    aspect-ratio: 1/1;
}

@media (max-width: 1000px) {
    .flex-container-1 {
        flex-direction: column;
        align-content: center;
        max-width: 100%;
    }
}

@media (max-width: 1000px) {
    .flex-container-1 {
        padding-left: 20px;
    }
}
