<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/Abhishek_Kumar.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Dr. Abhishek Kumar</h4>
                    <h5>Head of the Centre</h5>
                    <h5>Dept. of Civil Engineering<br /> IIT Guwahati</h5>
                    <p class="mail-ids">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:hocccd@iitg.ac.in" target="_blank">hocccd@iitg.ac.in</a>,
                        <a href="mailto:abhiak@iitg.ac.in" target="_blank">abhiak@iitg.ac.in</a>
                    </p>
                    <p class="text-center-hocccd">Phone: +91-361-258-3329</p>
                    <p class="text-center-hocccd"><a href="https://www.iitg.ac.in/abhiak/" target="_blank">Homepage</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Former Heads</mark></h3>
            <div class="flex-container-1">
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <img src="assets/img/previous_heads/vinayak.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                        <p class="text-center">Vinayak Narayan Kulkarni</p>
                        <p class="text-center2">Mechanical Engineering Department</p>
                        <p class="text-center2">Feb 2020 - Sep 2020</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <img src="assets/img/previous_heads/rakhesh.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                        <p class="text-center">Rakhesh Singh Kshetrimayum</p>
                        <p class="text-center2">Electrical and Electronics Engineering Department</p>
                        <p class="text-center2">Apr 2018 - Feb 2020</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <img src="assets/img/previous_heads/kaustubha.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                        <p class="text-center">Kaustubha Mohanty</p>
                        <p class="text-center2">Chemical Engineering Department</p>
                        <p class="text-center2">Apr 2015 - Apr 2018</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <img src="assets/img/previous_heads/natesan.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                    <p class="text-center">Natesan Srinivasan</p>
                    <p class="text-center2">Mathematics <br /> Department</p>
                    <p class="text-center2">Jun 2012 - Apr 2015</p>
                </div>
            </div>
            <div class="flex-container-1">
                <div class="col-xs-6 col-sm-3 col-md-3">
                        <img src="assets/img/previous_heads/saurabh.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                        <p class="text-center">Saurabh Basu</p>
                        <p class="text-center2">Physics <br /> Department</p>
                        <p class="text-center2">Jul 2009 - Jun 2012</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <img src="assets/img/previous_heads/debabrata.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                    <p class="text-center">Debabrata Chakraborty</p>
                    <p class="text-center2">Mechanical Engineering Department</p>
                    <p class="text-center2">Aug 2008 - Jul 2009</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <img src="assets/img/previous_heads/ratnajit.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                    <p class="text-center">Ratnajit Bhattacharjee</p>
                    <p class="text-center2">Electrical and Electronics Engineering Department</p>
                    <p class="text-center2">May 2005 - Aug 2008</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <img src="assets/img/previous_heads/subhas.jpg" class="img-thumbnail img-responsive prev-head-img" alt="Rounded Image">
                    <p class="text-center">Subhash Chandra Mishra</p>
                    <p class="text-center2">Mechanical Engineering Department</p>
                    <p class="text-center2">Apr 2003 - Apr 2005</p>
                </div>
            </div>
        </div>
    </div>
</div>
