<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Centre for Career Development, IIT Guwahati
                </span>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Maintained by
                    <a href="https://www.linkedin.com/in/zeus-iitg/" target="_blank">
                        Vaibhav Kumar Singh <i class="fa fa-linkedin" aria-hidden="true" ></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>
