<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Serpentine_background.jpg'); height: 50vh;">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <h3 class="images-title"><mark>Reaching IITG</mark></h3>
            <h4>Location</h4>
            <div class="content">
                <ul>
                    <li>Guwahati lies at the heart of Assam state and is the largest city in North-East India</li>
                    <li>IIT Guwahati campus lies just north of main Guwahati city (separated by the Brahamputra river)</li>
                    <li>The campus is at half an hour drive from the main city (15 km distance)</li>
                </ul>
            </div>
            <h4>Connectivity</h4>
            <div class="content">
                <ul>
                    <li>Guwahati is well connected to other parts of the country by road, rail and air</li>
                    <li>The city has good cab service available from Airport and Railway Station</li>
                    <li>Cab services like Ola and Uber are readily available in Guwahati</li>
                    <li>The institute also has a bus service that runs regularly to and from the city</li>
                </ul>
            </div>
            <h4>Guwahati Airport</h4>
            <div class="content">
                <ul>
                    <li>Direct flight to all metro/major cities</li>
                    <li>Distance between IIT Guwahati and Airport : 23 km</li>
                    <li>Time to reach IIT Guwahati from Airport : roughly 30 mins</li>
                    <li>Approx cab fare : INR 500</li>
                </ul>
            </div>
            <h4>Hotels and cabs</h4>
            <div class="content">
                <p>Please see <a [routerLink]="['/hotels_and_cabs']">this page</a></p>
            </div>
        </div>
    </div>
</div>
